extends layout

block content
	h1 This Week's Comics
	//p Welcome to #{title}
	div(class='container')
		//#{copyright}
		- for comic in comics
			div(class='comicContainer')
				div(class='comic') 
					div(class='title') 
						a(href='comics/' + comic.id data-id=comic.id) #{comic.title}
					div(class='comicImage')
						img(src=comic.thumbnail.path + '.' + comic.thumbnail.extension)
					- for price in comic.prices
						div(class='price')
							if (price.type === 'printPrice')
								section() Print Price: #{price.price}
							else
								section() #{price.type}: #{price.price}
							//div(class='priceCost') #{price.price}

					div(class='date') Sale Date: #{comic.dates.date}
